.sign-up {
    width: 100%;
    background-color: #0c0c35;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;

    .sign-up__enter--box {
        max-width: 384px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), #38469e;
        background-blend-mode: soft-light, normal;
        padding: 12px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
        margin-bottom: 134px;
    }
    .section-line {
        height: 1px;
        width: 100%;
        background-color: #353535;//색깔 변경 해야함~
    }
    .sign-up__checkbox{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .flex-checkbox {
            display: flex;
            gap: 4px;
            align-items: center;
            label {
                cursor: pointer;
            }
        }
    }
    .sign-up__btn {
        width: 100%;
        padding: 12px;
        background-color: black;

        &.disabled-btn{
            color: gray;
            cursor: not-allowed;
        }
    }

    .btn-wallet {
        width: 100%;
        height: 45px;
        font-size: 14px;
        font-family: "montserrat500";
        color: white;
        background-color: black;
        display: flex;
        justify-content: center;
        .css-1d4s0we {
            gap: 2px !important;
            > span{
                line-height: 100%;
            }
        }
    }

    .wallet-area {
        width: 100%;
        resize: none;
        background-color: black;
        padding: 12px;
        border-radius: 8px;
        height: fit-content;
        font-size: 12px;
        word-wrap: break-word;
    }

    @mixin fontSize($size){
        line-height: 100%;
        font-size: $size;
    }

    .text-center {
        text-align: center;
    }
    .color-gray {
        color: #a8a8a8;
    }
    .color-white {
        color: #FFF;
    }
    .color-red {
        color: red;
    }
    .fs20{
       @include fontSize(20px)
    }
    .fs16 {
        @include fontSize(16px)
    }
    .fs14{
        @include fontSize(14px)
    }
    .fs12 {
        @include fontSize(12px)
    }
    .mt4 {
        margin-top: 4px;
    }
    .mb8 {
        margin-bottom: 8px;
    }
    .mb12 {
        margin-bottom: 12px;
    }
    .mb16 {
        margin-bottom: 16px;
    }
    .mb24 {
        margin-bottom: 24px;
    }
}