.swap-background {
  width: 100%;
  background-color: #0c0c35;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}
// ==================== Uniswap =======================
.WidgetWrapper__StyledWidgetWrapper-sc-11krezp-0 {
  box-shadow: none !important;
}
