.Tournament-create {
    width: 100%;
    background-color: #0c0c35;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    
    .Tournament-create__inner{
        width: 100%;
        max-width: 996px;
        .main-title__box{
            display: flex;
            justify-content: space-between;
            padding-left: 16px;
            background: var(--sec-navy-30,#030320);
            height: 66px;
            align-items: center;
        }
        .main-title__text{
            display: flex;
            align-items: center;
            font-size: 30px;
            text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
            font-family: "ReemKufi600";
            line-height: 100%;
            letter-spacing: -0.45px;
            white-space: nowrap;
        }
        .color-bar{
            height: 30px;
            width: 2px;
            margin-right: 16px;
            background: linear-gradient(180deg, #a329ff 0%, #52c4ff 100%);
        }
        .guide__box--pc {
            height: 100%;
            padding: 8px 16px;
            background: var(--sec-navy-10, #353598);
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            color: #fff;
            font-family: "ReemKufi500";
            // visibility: visible;
            img {
                width: 32px;
                height: 32px;
                transform: rotate(-2deg);
            }
        }
        .guide__box--tablet{
            width: 100%;
            display: flex;
            margin-top: 16px;
            flex-direction: column;
            gap : 8px;
            display: none;
            .tablet__content--box{
                background: var(--sec-navy-10, #353598);
                width: 100%;
                padding: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
    
                .arrow {
                    width: 8.243px;
                    height: 14px;
                }
            }
            .tablet__content--icon-text{
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 14px;
                font-family: "ReemKufi500";
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    .create__container{
        display: flex;
        gap : 24px;
        align-items: stretch;
        margin-top: 24px;
        .create__enter--box{
            width: 100%;
            min-height: 500px;
        }
        .create__wallet--box {
            min-width: 384px;
        }
    }

    .box__border--3px {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(0, 0, 0, 0) 100%), #5C6DE0 ;
        background-blend-mode: soft-light, normal;
        border-radius: 16px;
        padding: 3px;
        overflow: hidden;
        margin-bottom: 24px;
        width: 100%;
        .box__content {
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(255, 255, 255, 0.45) 100%), #5C6DE0;
            background-blend-mode: soft-light, normal;
            border-radius: 16px;
            padding: 0px 9px 16px 9px;
            height: 100%;
            display: flex;
            flex-direction: column;
            .box__content--title{
                font-size: 20px;
                line-height: 100%;
                padding: 8px 0px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
                }
                .box__content--content-border {
                    width: 100%;
                    border-radius: 16px ;
                    padding: 3px;
                    background: rgba(0,0,0,0.2);
                    overflow: hidden;
                    height: 100%;

                    .box__content--content{
                        background:linear-gradient(180deg, #2E2E9E 0%, #1E1E69 100%), #38469E;
                        border-radius: 16px;
                        padding: 24px;
                        width: 100%;
                        height: 100%;
                    }
            }
        }
    }
     .status__text--container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
     }
     .status__text--box {
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
     .status__text {
        color: #fff;
        text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.24px;
        font-family: "ReemKufi400";
    }
    .nft__information--container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .nft__information--title{
        display: flex;
        gap: 4px;
        align-items: center;
        font-size: 14px;
        font-family: "montserrat500";
        line-height: 100%;
        margin-bottom: 8px;
        img{
            width: 14px;
            height: 14px;
        }
    }
    .nft__information--value-box{
        padding: 8px;
        width: 100%;
        height: 54px;
        background-color: #00002a;
        display: flex;
        justify-content: end;
    }
    .nft__information--value-numbers{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .nft__value {
        text-align: end;
        font-size: 16px;
        font-family: "montserrat500";
        line-height: 100%;
    }
    .dollar__value{
        text-align: end;
        font-size: 14px;
        font-family: "montserrat400";
        line-height: 100%;
        color: var(--gary-10,#a8a8a8);
    }
    .enter__title {
        color : var(--sec-nav-10,#6363c9);
        font-size: 14px;
        font-family: "ReemKufi400";
        line-height: 100%;
        white-space: nowrap;
    }
    .enter__content {
        width: 100%;
    }
    .content__radio-option {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        .radio__box {
            display: flex;
            align-items: center;
            gap: 8px;
            .radio__circle {
                width: 22px;
                height: 22px;
                box-sizing: border-box;
                background: transparent;
                border: 3px solid #303089;
                border-radius: 50%;
                padding: 3px;
                cursor: pointer;
                .radio__inner {
                    width: 100%;
                    height: 100%;
                    background: #ffae02;
                    border-radius: 50%;
                }
            }
            .label__text{
                color: var(--gary-10,#FFF);
                font-family: "ReemKufi400";
                line-height: 100%;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    .content__radio-option2 {
        margin-bottom: 8px;
    }
    .thumbnail__img{
        width: 258px;
        height: 120px;
        object-fit: cover;
        margin-bottom: 12px;
    }
    .image-upload {
        width: 258px;
        height: 38px;
        padding: 12px 16px;
        color: var(--ffae-02,#ffae02);
        font-family: "montserrat500";
        line-height: 100%;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap : 8px;
        border-radius: 8px;
        border: 1px solid var(--ffae-02,#ffae02);
        cursor: pointer;
        img{
            background: transparent;
            width: 17.6px;
            height: 16px;
        }
    }
    .date-setting__block {
        display : flex; 
        justify-content : space-between;
        width : 100%;
        .date-setting__box{
            width: 50%;
        }
    }
    .next-button__container{
        display: flex;
        justify-content: space-between;
    }

    .time-settings {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .settings-input__container {
            display: flex;
            gap: 16px;
            width: 100%;
            flex-wrap: wrap;
        }

        .settings-input__box {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .input__block {
                 display: flex;
                 gap: 8px;
                 .settings-input {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                 }
            }
        }
        .settings-done__box {
            display:  flex;
            gap: 8px;
            align-items: center;
            max-height: 38px;
            font-size: 12px;
            font-family: "ReemKufi500";
            line-height: 100%;
            color: #FFAE02;
            .settings-done__btn {
                padding: 8px 16px;
                border-radius: 8px;
                border: 1px solid #FFAE02;
                width: 80px;
                color: #FFAE02;
                font-family: "ReemKufi400";
                line-height: 100%;
                font-size: 16px;
                max-height: 38px;
                background-color: transparent;
            }
        }

        // .settings-input__box {
        //     display: flex;
        //     width: fit-content;
        //     gap: 8px;
        //     position: relative;
        //     .time-warning {
        //         position: absolute;
        //         top: 40px;
        //         color: red;
        //         font-size: 14px;
        //     }
        // }
        // .settings-input {
        //     display: flex;
        //     align-items: center;
        //     max-width: 112px;
        //     gap: 2px;
        //     width: 100%;
        // }
    }
//=========================
//두 번째 페이지
//=========================
    .enter__section {
        border-radius: 8px;
        border: 1px solid var(--sec-navy-18,#232364);
        padding: 16px 16px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        .section__title {
            font-size: 18px;
            color: var(--gary-12,#e3e3e3);
            font-family: "ReemKufi400";
            line-height: 100%;
            margin-bottom: 24px;
        }
        .on-subtitle{
            margin-bottom: 8px;
        }
        .section__sub-title{
            color: var(--gary-12 , #e3e3e3);
            font-family: "ReemKufi400";
            line-height: 100%;
            font-size: 12px;
        }
        .enter__NFT--box {
            width: 100%;
            padding: 16px 8px;
            background: #030329;
            border: 1px solid var(--sec-nav-18,#232364);
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: relative;
            .disable-overlay {
                position: absolute;
                width: 100%;
                height: 99%;
                background: rgba(0,0,0,0.7);
                top: -50%;
                left: -50%;
                transform: translate(50%,50%);
            }
        }
        .entry-setting-option-NFT {
            margin-bottom: 0px;
        }
        .NFT__input {
            color : #FFF;
            font-size: 16px;
            line-height: 100%;
            font-family: "montserrat500";
            background: transparent;
            
        }
        .NFT__dollar {
            color : #D0d0d0;
            font-family: "montserrat400";
            line-height: 100%;
            font-size: 12px;
        }
        .grade__dollar {
            text-align: center;
            text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
        }
        .grade-section__container{
            width: 100%;
            display: flex;
            gap : 8px;
            overflow: auto;
            overflow-y: hidden;
        }
        .grade-section__container::-webkit-scrollbar {
            display: none;
        }
        .grade-section__box{
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 122px;
            height: 81px;
            border-radius: 8px;
            border: 1px solid var(--sec-nav-15,#303089);
            background: var(--sec-navy-30,#030329);
        }
        .grade__selected {
            border: 1px solid var(--ffae-02,#FFAE02);
        }
        .enter__title--explanation{
            color: var(--gary-10,#a8a8a8);
            font-family: "ReemKufi400";
            font-size: 12px;
        }
        .calc__return {
            display: flex;
            gap: 8px;
            align-items: center;
            .calc__text{
                color: var(--ffae-29,#ffaa29);
                font-family: "ReemKufi400";
                line-height: 100%;
                font-size: 16px;
            }
        }
        .balance__warning{
            color: #F00;
            font-family: "ReemKufi400";
            font-size: 12px;
            line-height: 100%;
        }
        .prize-money-add__button{
            padding: 8px;
            display: flex;
            gap:4px;
            align-items: center;
            border-radius: 4px;
            border: 1px solid var(--ffae-02, #FFAE02);
            background: transparent;
            .add__button--text{
                color: var(--ffae-02,#ffae02);
                font-family: "ReemKufi400";
                line-height: 100%;
                font-size: 14px;
            }
            img {
                width: 16px;
                height: 16px;
            }
        }
        .ranking__text{
            max-width: 250px;
            display: flex;
            justify-content: space-between;
            .ranking__number{
                color : var(--sec-nav-10,#6363c9);
                font-size: 14px;
                font-family: "ReemKufi400";
                line-height: 100%;
            }
            .prize__per--satisfy{
                color : var(--gary-13,#cecece);
                font-size: 12px; 
                font-family: "ReemKufi400";
                line-height: 100%;
            }
            .prize__per--insufficient{
                color : red;
                font-size: 12px;
                font-family: "ReemKufi400";
                line-height: 100%;
            }
        }
        .ranking__input {
            display: flex;
            gap: 9px;
            align-items: center;
            img {
                width: 18px;
                height: 18px;
                cursor: pointer;
            }
        }
    }
    .title__font {
        color : var(--gary-12,#e3e3e3);
        font-size: 18px;
        font-family: "ReemKufi400";
        line-height: 100%;
    }
    .title__font-sub{
        color: var(--gary-12 , #e3e3e3);
            font-family: "ReemKufi400";
            line-height: 100%;
            font-size: 12px;
    }
    .confirm__font {
        color: var(--gary-10,#fff);
        font-family: "ReemKufi400";
        font-size: 16px;
        line-height: 100%;
        white-space: nowrap;
    }
    .third-page__box{
        border-bottom: 1px solid #232364;
    }
    .third-page__date--container{
        display: flex;
        gap: 12px;
        align-items: center;
        .date__box {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        .third-page__date--box {
            width: 100%;
            max-width: 105px;
        }
    }
    .third__ranking--box{
        display: flex;
        justify-content: space-between;
        max-width: 150px;
        width: 100%;
        .third__ranking--font {
            color: #FFF;
            font-family: "ReemKufi400";
            line-height: 100%;
            letter-spacing: -0.21px;
            font-size: 14px;
        }
    }

    .mb0 {
        margin-bottom: 0px;
    }
    .mb8 {
        margin-bottom: 8px;
    }
    .mb24 {
        margin-bottom: 24px;
    }
    .mb12 {
        margin-bottom: 12px;
    }
    .mb16 {
        margin-bottom: 16px;
    }

    .fs12 {
        font-size: 12px;
    }
    .fs14 {
        font-size: 14px;
    }
    .fs18 {
        font-size: 18px;
    }
    .fs24 {
        font-size: 24px;
    }
    .fs30{
        font-size: 30px;
    }

    .fw400 {
        font-family: "ReemKufi400";
        line-height: 100%;
    }
    .fw500{
        font-family: "ReemKufi500";
        line-height: 100%;
    }
    .fw600{
        font-family: "ReemKufi600";
        line-height: 100%;
    }
    .fw700{
        font-family: "ReemKufi700";
        line-height: 100%;
    }


    .color-yellow {
        color: #FFDA02;
    }
    .color-green {
        color: #7cdf9e;
    }
    .color-gray {
        color: #a8a8a8;
    }
    .color-purple {
        color : #7c7cdf;
    }
    .color-red {
        color: red;
    }

    .font-shadow {
        text-shadow: 0px 1px 5px rgba(136, 13, 13, 0.20), 0px 3px 4px rgba(123, 12, 12, 0.12), 0px 2px 4px rgba(91, 26, 26, 0.14);
    }

    .h12 {
        height: 12px;
    }
}











@media (max-width : 1024px){
    .Tournament-create {
        .Tournament-create__inner{
            .guide__box--pc {
                display: none;
            }
            .guide__box--tablet{
                display: flex;
            }
            .create__container{
                .create__wallet--box{
                    display: none;
                }
            }
        }
        .create__header {
            position: sticky;
            top: 0px;
            background-color: #0c0c35;
            z-index: 9;
            padding-bottom: 12px;
            box-shadow: -3px 10px 20px rgba(0, 0, 0, 0.8);
        }
    }
}